.viagem {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
  gap: 40px;
  padding-top: 60px;
  padding-bottom: 60px;
  background: url("../../img/dec/bottom-left.svg") no-repeat bottom 40px left
  20px;
}

#viagem .titulo p {
  text-transform: uppercase;
}

.viagem-imagens {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.viagem-imagens img {
  flex: 1;
  min-width: 200px;
}

.viagem-imagens img:first-child {
  min-width: 100%;
}

.viagem-conteudo > p {
  margin-bottom: 32px;
}

.viagem-comprar {
  display: grid;
  grid-template-columns: max-content auto;
  align-items: center;
  justify-items: start;
  gap: 8px 12px;
  margin-bottom: 40px;
}

.viagem-comprar a {
  grid-row: span 2;
}

.viagem-comprar span {
  display: flex;
  align-items: center;
  background-color: var(--cor-12);
  gap: 8px;
  padding: 4px 8px;
  border-radius: 4px;
}

.viagem-conteudo h2 {
  text-transform: uppercase;
  letter-spacing: 0.015em;
  margin-bottom: 12px;
}

.viagem-informacoes,
.viagem-ficha {
  padding: 32px;
  background-color: var(--cor-12);
  border-radius: 4px;
}

.viagem-informacoes {
  margin-bottom: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
}

.viagem-informacoes img {
  width: 24px;
  margin-bottom: 8px;
}

.viagem-informacoes h3 {
  margin-bottom: 8px;
}

.viagem-ficha li {
  padding: 4px 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--cor-11);
}

.viagem-ficha li:last-child {
  border-bottom: none;
}

.viagem-ficha span {
  color: var(--cor-6);
}

@media (max-width: 800px) {
  .viagem {
    grid-template-columns: 1fr;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .viagem-imagens {
    grid-row: 2;
  }
}

@media (max-width: 400px) {
  .viagem-informacoes {
    grid-template-columns: 1fr;
  }
  .viagem-comprar {
    grid-template-columns: 1fr;
  }
}
